body {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb")
    no-repeat center center;
  background-size: cover;
  color: white;
}

.container h2 {
  margin-top: 5rem;
}

.hero {
  background: rgba(43, 42, 42, 0.685);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

ul {
  list-style: none;
  border-top: 2px solid white;
  margin-top: 2rem;
}

ul > li {
  padding: 0.7rem 0;
  border-bottom: 1px solid #ffffff75;
  position: relative;
}

ul > li:hover {
  background-color: rgba(43, 42, 42, 0.349);
  border-radius: 5px;
}

input[type="checkbox"] {
  position: absolute;
  top: 40%;
  right: 10%;
  display: none;
}

.linethrough {
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
}

li > i {
  position: absolute;
  top: 35%;
  right: 10px;
}

.fas {
  display: none;
}

li:hover > input[type="checkbox"] {
  display: block;
}

li:hover > .fas {
  display: block;
}

.fas:hover {
  color: red;
}

@media only screen and (max-width: 768px) {
  input[type="checkbox"] {
    right: 15%;
    display: block;
  }

  .fas {
    display: block;
  }
}
