*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.first-section{
    background-image: url("img/bg.jpg") ;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    max-height: 450px;
}

.budget-container{
    min-height: 230px;
    width: 23%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #55462c8f;
    border-radius: 5px;
}

.budget-header{
    font-size: 1.4rem;
}

.available-budget{
    font-size: 3rem;
}

.budget-header,
.available-budget{
    text-align: center;
    color: white;
}

.budget-container > *{
    width: 100%;
    margin: .5rem;
}

.money-box{
    width: 90%;
    height: 3rem;
    padding: 0 .7rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    border-radius: 5px;
}

.money-box p:first-of-type{
    width: 77%;
}

.money-box p:last-of-type{
    width: 33%;
    margin-right: .5rem;
    color: white;
}


#income{
    background-color: teal;
}

#expenses{
    background-color: orangered;
}

.expensePercentege{
    padding: .3rem;
    font-size: smaller;
    margin: 0;
    position: absolute;
    background-color: #ffffff8f;
    height: auto;
    width: auto;
    top: 22%;
    right: 3%;
    bottom: 22%;
}

/*SECTION-2*/
.second-section{
    height: 4rem;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.item-adder-container{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-adder-container > *{
    height: 60%;
}

.toggler{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 8%;
    background-color: white;
    margin-right: .3rem;
}


.toggler-icons i{
    cursor: pointer;
    line-height: 3px;
    display: block;
}

.add-item{
    width: 75%;
}

.add-item input{
    height: 100%;
    padding: 0 0.3rem;
}

#item-desc{
    width: 75%;
}

#item-value{
    width: 23%;
}

.item-adder-container button{
    font-size: 1.5rem;
    width: 10%;
}

/*THIRD SECTION*/
.third-section{
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistics-container{
    display: flex;
    width: 70%;
    justify-content: center;
}

.side{
    width: 33%;
    margin: 0 1rem;
}

.side h4{
    margin-bottom: 1rem;
}

.left h4{
    color: teal;
}

.right h4{
    color: orangered;
}

.item{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 3rem;
}

.left .item p{
    color: black;
}

.left .item .item-right p{
    color: teal;
}

.left .item .item-right{
    width: 20%;
}

.item-right p:first-child{
    color: orangered;
}

.item {
    background-color: white;
}


.item:nth-child(odd){
    background-color: #f1f0f0;
}


.item p:first-child{
    width: 60%;
}

.item-right{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
}

.item .expensePercentege{
    position: relative;
    background-color: rgba(255, 68, 0, 0.534);
}
.delete-button{
    padding-left: .3rem;
    border: none;
    color: red;
    background: transparent;
    width: 0%;
    display: block;
    transition: width .8s;
    z-index: -1;
}

.side .item:hover > .item-right > .delete-button{
    z-index: 1;
    width: 20%;
    cursor: pointer;
}



/*responsive*/

@media only screen and (max-width: 768px) {
    .first-section{
        height: 5vh;
        background-size: cover;
    }
    
    .item-adder-container{
        width: 98%;
    }

    .budget-container{
        width: 80%;
    }

    .money-box{
        margin: .3rem;
        padding: 0 .5rem;
        justify-content: space-between;
        padding-right: 3rem;
    }

    .money-box p:first-child{
        width: 30%;
    }

    .money-box p:last-of-type{
        margin-right: 0;
        width: 10%;
    }

    .statistics-container{
        flex-direction: column;
        width: 94%;
    }
    .side{
        width: 98%;
        margin: .5rem 0;
    }

    .item-right{
        width: 20%;
    }

    .delete-button{
        width: 20%;
        z-index: 1;
    }
}
